<p>
    ------------------------------------------------ output works! ----------------------------------------------
</p>

<p>----------------@Input decorator -----------------</p>
{{namelocal}}

<button (click)="childToParent()">ChildToParent</button>