<p>
    ---------------------------------------- input works! {{names}}---------------------------------------------
</p>
<form [formGroup]="inputfg" (ngSubmit)="submit()">

    <input type="text" formControlName="formname">
    <button type="submit">Submit</button>
</form>

<app-output [namepass]="name" (event)=childToParent($event)> app output selector </app-output>
<br>


<!-- //name variable in the input component -->